{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block title %}{{ parent() }} - Developpeur{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="col-sm-12"><h3>Ajouter un Developpeur</h3></div>
    </div>
    <div class="clearfix mg-top-20"><br/><hr><br/></div>

    {{ form_start(form) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.test) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        <input type="submit" name="submit" class="btn btn-success">
    {{ form_end(form) }}
{% endblock %}