{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Exercice{% endblock %}

{% block body %}
    <div class="col-sm-12">
        <div class="col-sm-9"><h3>Exercice</h3></div>
        <div class="col-sm-3 text-right float-right"><a href="{{ path('create_exercise') }}" class="btn btn-primary">Ajouter</a></div>
    </div>
    <div class="clearfix mg-top-20"><br/><hr><br/></div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Action</th>
            <th>Titre</th>
            <th>Durée</th>
            <th>Langage</th>
        </tr>
        </thead>
        <tbody>
        {% for exercise in exercises %}
            <tr>
                <td>{{ exercise.id }}</td>
                <td>
                    <a href="{{ path('update_exercise', {'id': exercise.id}) }}" class="fa fa-edit fa-fw fa-lg"></a>
                    <a href="{{ path('delete_exercise', {'id': exercise.id}) }}" class="fa fa-trash fa-fw fa-lg"></a>
                </td>
                <td>{{ exercise.title }}</td>
                <td>{{ exercise.time }}</td>
                <td>{{ exercise.language.label }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}